<% provide(:title, 'About') %>

<style>
  .dark{color:rgba(55, 65, 81,1);}
  body{background:white !important;}
</style>
<div class="relative items-center justify-center">
  <!-- Header Text-->
  <h1 class="text-center text-2xl font-bold p-4 bg-gray-800 offer_text">Our Team;</h1>
</div>
  <!-- All Cards Container -->
  <div class="lg:flex items-center container mx-auto my-auto">
<div class="holder">

  <div class="card border w-96 hover:shadow-none relative flex flex-col mx-auto shadow-lg m-5">
    <%= image_tag('stairs_to_heaven', class: 'max-h-20 w-full opacity-80 absolute top-0', style: 'z-index:-1') %>
    <div class="profile w-full flex m-3 ml-4 text-white">
      <%= image_tag('anon_4ng3l', class: 'w-28 h-28 p-1 bg-white rounded-full') %>
      <div class="title mt-11 ml-3 font-bold flex flex-col">
        <div class="name break-words">4ng3l</div>
        <!--  add [dark] class for bright background -->
        <div class="add font-semibold text-sm italic dark">Director of Marketing</div>
      </div>
    </div>
    <div class="buttons flex absolute bottom-0 font-bold right-0 text-xs text-gray-500 space-x-0 my-3.5 mr-3">
      <!-- <div class="add border rounded-l-2xl rounded-r-sm border-gray-300 p-1 px-4 cursor-pointer hover:bg-gray-700 hover:text-white">Contact</div> -->
      <div class="add border rounded-r-2xl rounded-l-sm border-gray-300 p-1 px-4 cursor-pointer hover:bg-gray-700 hover:text-white" onclick="AngelClick()">Bio</div>
    </div>
  </div>
  <!-- card end -->
  <div class="card border w-96 hover:shadow-none relative flex flex-col mx-auto shadow-lg m-5">
    <%= image_tag('ghost_wlp', class: 'max-h-20 w-full opacity-80 absolute top-0', style: 'z-index:-1') %>
    <div class="profile w-full flex m-3 ml-4 text-white">
      <%= image_tag('gh0s7', class: 'w-28 h-28 p-1 bg-white rounded-full') %>
      <div class="title mt-11 ml-3 font-bold flex flex-col">
        <div class="name break-words">Gh0s7</div>
        <!--  add [dark] class for bright background -->
        <div class="add font-semibold text-sm italic dark">Coder | Hacker | Server Admin</div>
      </div>
    </div>
    <div class="buttons flex absolute bottom-0 font-bold right-0 text-xs text-gray-500 space-x-0 my-3.5 mr-3">
      <!-- <div class="add border rounded-l-2xl rounded-r-sm border-gray-300 p-1 px-4 cursor-pointer hover:bg-gray-700 hover:text-white">Contact</div> -->
      <div class="add border rounded-r-2xl rounded-l-sm border-gray-300 p-1 px-4 cursor-pointer hover:bg-gray-700 hover:text-white" onclick="GhostClick()">Bio</div>
    </div>
  </div>
  <!-- card end -->
  <div class="card border w-96 hover:shadow-none relative flex flex-col mx-auto shadow-lg m-5">
    <%= image_tag('sys_fail', class: 'max-h-20 w-full opacity-80 absolute top-0', style: 'z-index:-1') %>
    <div class="profile w-full flex m-3 ml-4 text-white">
      <%= image_tag('cryp70', class: 'w-28 h-28 p-1 bg-white rounded-full') %>
      <div class="title mt-11 ml-3 font-bold flex flex-col">
        <div class="name break-words">Cryp70</div>
        <!--  add [dark] class for bright background -->
        <div class="add font-semibold text-sm italic dark">Hacker | Server Admin | Coder</div>
      </div>
    </div>
    <div class="buttons flex absolute bottom-0 font-bold right-0 text-xs text-gray-500 space-x-0 my-3.5 mr-3">
      <!-- <div class="add border rounded-l-2xl rounded-r-sm border-gray-300 p-1 px-4 cursor-pointer hover:bg-gray-700 hover:text-white">Contact</div> -->
      <div class="add border rounded-r-2xl rounded-l-sm border-gray-300 p-1 px-4 cursor-pointer hover:bg-gray-700 hover:text-white" onclick="CryptoClick()">Bio</div>
    </div>
  </div>
  <!-- card end -->

</div>


<div class="max-w-6xl w-full mx-auto py-6 sm:px-6 lg:px-8">
  <div class="flex flex-col lg:flex-row w-full lg:space-x-2 space-y-2 lg:space-y-0 mb-2 lg:mb-4">

    <div class="w-full lg:w-1/5">
        <div class="widget w-full p-4 rounded-lg bg-white border-l-4 border-purple-400">
            <div class="flex items-center">
                <div class="icon w-14 p-3.5 bg-purple-400 text-white rounded-full mr-3">
                    <svg fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6"></path>
                    </svg>
                </div>
                <div class="flex flex-col justify-center">
                    <div class="text-lg">15+</div>
                    <div class="text-sm text-gray-400">Years Experience</div>
                </div>
            </div>
        </div>
    </div>

    <div class="w-full lg:w-1/5">
        <div class="widget w-full p-4 rounded-lg bg-white border-l-4 border-blue-400">
            <div class="flex items-center">
                <div class="icon w-14 p-3.5 bg-blue-400 text-white rounded-full mr-3">
                    <svg fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z" />
                    </svg>
                </div>
                <div class="flex flex-col justify-center">
                    <div class="text-lg">150</div>
                    <div class="text-sm text-gray-400">Satisfied Clients</div>
                </div>
            </div>
        </div>
    </div>

    <div class="w-full lg:w-1/5">
        <div class="widget w-full p-4 rounded-lg bg-white border-l-4 border-green-400">
            <div class="flex items-center">
                <div class="icon w-14 p-3.5 bg-green-400 text-white rounded-full mr-3">
                    <svg fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8c-1.657 0-3 .895-3 2s1.343 2 3 2 3 .895 3 2-1.343 2-3 2m0-8c1.11 0 2.08.402 2.599 1M12 8V7m0 1v8m0 0v1m0-1c-1.11 0-2.08-.402-2.599-1M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                </div>
                <div class="flex flex-col justify-center">
                    <div class="text-lg">$6,000</div>
                    <div class="text-sm text-gray-400">Total Revenue (YTD)</div>
                </div>
            </div>
        </div>
    </div>


  </div>
  <br/>
  <br/>
  <br/>

    <!-- Start 4ng3l About Section -->
    <div class="w-3/4 mx-auto" id="AngelDIV" style="display: none">
      <div class="w-full shadow-2xl subpixel-antialiased rounded h-64 bg-black border-green mx-auto">
        <div class="flex items-center h-6 rounded-t bg-gray-100 border-b border-gray-500 text-center text-black" id="headerTerminal">
          <div class="flex ml-2 items-center text-center border-red-900 bg-red-500 shadow-inner rounded-full w-3 h-3" id="closebtn">
          </div>
          <div class="ml-2 border-yellow-900 bg-yellow-500 shadow-inner rounded-full w-3 h-3" id="minbtn">
          </div>
          <div class="ml-2 border-green-900 bg-green-500 shadow-inner rounded-full w-3 h-3" id="maxbtn">
          </div>
          <div class="mx-auto pr-16" id="terminaltitle">
            <p class="text-center text-sm">4ng3l Terminal</p>
          </div>

        </div>
        <div class="pl-1 pt-1 h-auto  text-green-200 font-mono text-xs bg-black" id="console" style="margin-bottom: 20px;">
          <p class="pb-1">Last login: <%= Time.now.strftime("%d/%m/%Y %H:%M") %></p>
          4ng3l Bio:<br/>
          This individual has education in physicratics and makes for an outstanding
          marketing &amp; ad campaign and their experience in photography provides
          great services for those who requires an online store with products to showcase.
          4ng3l has been working and hard, and constantly studying the latest methods
          and requirements for perfect marketing Techniques.<br/>
          "Assuring your company is not only online and user ready, but getting that website, or mobile application, out to the public is the ultimate key! Without the proper marketing &amp; social media campaigns, your clients does not know you are online and ready for business."
        </div>
      </div>
    </div>
      <!-- End 4ng3l About Section -->


      <!-- Start Gh0s7 About Section -->
      <div class="w-3/4 mx-auto" id="GhostDIV" style="display: none">
        <div class="w-full shadow-2xl subpixel-antialiased rounded h-64 bg-black border-green mx-auto">
          <div class="flex items-center h-6 rounded-t bg-gray-100 border-b border-gray-500 text-center text-black" id="headerTerminal">
            <div class="flex ml-2 items-center text-center border-red-900 bg-red-500 shadow-inner rounded-full w-3 h-3" id="closebtn">
            </div>
            <div class="ml-2 border-yellow-900 bg-yellow-500 shadow-inner rounded-full w-3 h-3" id="minbtn">
            </div>
            <div class="ml-2 border-green-900 bg-green-500 shadow-inner rounded-full w-3 h-3" id="maxbtn">
            </div>
            <div class="mx-auto pr-16" id="terminaltitle">
              <p class="text-center text-sm">Gh0s7 Terminal</p>
            </div>

          </div>
          <div class="pl-1 pt-1 h-auto  text-green-200 font-mono text-xs bg-black" id="console" style="margin-bottom: 20px;">
            <p class="pb-1">Last login: <%= Time.now.strftime("%d/%m/%Y %H:%M") %></p>
            Gh0s7 Bio:<br/>
            With over 7+ years of experience in programming, holding several certifications, has been a
            true Code Warrior. Taking on multiple tasks at a time, and ensuring they are all completed
            on time, Gh0s7 is a packaged individual that also compacts his knowledge of server hosting
            &amp; security combined with ethical hacking techniques. This individual is an outstanding
            team member, and has quickly shined out among the best.<br/>
            "Businesses need to adapt to survive… However, while businesses recognize this, a lack of skills, coding or technical knowledge has traditionally been a barrier…  We make it as easy and as affordable as possible for businesses to amplify their digital presence."
          </div>
        </div>
      </div>
      <!-- End Gh0s7 About Section -->


      <!-- Start Cryp70 About Section -->
      <div class="w-3/4 mx-auto" id="Cryp70DIV" style="display: none">
        <div class="w-full shadow-2xl subpixel-antialiased rounded h-64 bg-black border-green mx-auto">
          <div class="flex items-center h-6 rounded-t bg-gray-100 border-b border-gray-500 text-center text-black" id="headerTerminal">
            <div class="flex ml-2 items-center text-center border-red-900 bg-red-500 shadow-inner rounded-full w-3 h-3" id="closebtn">
            </div>
            <div class="ml-2 border-yellow-900 bg-yellow-500 shadow-inner rounded-full w-3 h-3" id="minbtn">
            </div>
            <div class="ml-2 border-green-900 bg-green-500 shadow-inner rounded-full w-3 h-3" id="maxbtn">
            </div>
            <div class="mx-auto pr-16" id="terminaltitle">
              <p class="text-center text-sm">Cryp70 Terminal</p>
            </div>

          </div>
          <div class="pl-1 pt-1 h-auto  text-green-200 font-mono text-xs bg-black" id="console" style="margin-bottom: 20px;">
            <p class="pb-1">Last login: <%= Time.now.strftime("%d/%m/%Y %H:%M") %></p>
            Cryp70 Bio:<br/>
                Over 10+ years of experience in the IT Industry, as well as upholding multiple Certifications
                and a Doctorate of Computer Science, Cryp70 has lead the team through the hard times
                and the good times. Ensuring everyone has an amazing time and ensures each team member
                has a voice and an opinion in the group. Cryp70 provides the expert advise required for
                getting the job done. This is performed by outlining key time-line deadlines per project,
                structuring databases, setting up &amp; securing servers, programming, and connecting directly with
                clients. Cryp70 is the team's leader and the one they all look up to for support &amp; guidance.<br/>
                "We write code, and carry out ethical hacking attacks that hardens the security of our clients in order to ensure their clients will not be subjected to cyber threats that could be devestating to the company. Ensuring cyber safety is our goal and we take it serously."
          </div>
        </div>
      </div>
      <!-- End Cryp70 About Section -->
  </div>
  </div>




<script>
  function AngelClick()
  {
    var a = document.getElementById("AngelDIV");
    if (a.style.display === "none")
    {
      a.style.display = "block";
      document.getElementById("GhostDIV").style.display = "none";
      document.getElementById("Cryp70DIV").style.display = "none";
    }
    else
    {
      a.style.display = "none";
    }
  }

  function GhostClick()
  {
    var g = document.getElementById("GhostDIV");
    if (g.style.display === "none")
    {
      g.style.display = "block";
      document.getElementById("AngelDIV").style.display = "none";
      document.getElementById("Cryp70DIV").style.display = "none";
    }
    else
    {
      g.style.display = "none";
    }
  }

  function CryptoClick()
  {
    var c = document.getElementById("Cryp70DIV");
    if (c.style.display === "none")
    {
      c.style.display = "block";
      document.getElementById("AngelDIV").style.display = "none";
      document.getElementById("GhostDIV").style.display = "none";
    }
    else
    {
      c.style.display = "none";
    }
  }

  </script>
  <style>
    .section
{
    text-transform: uppercase;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    top: 60%;
}
</style>
