<% provide(:title, 'About') %>
<style>
  .dark{color:rgba(55, 65, 81,1);}
  body{background:white !important;}
</style>

<div class="holder">

  <div class="card border w-96 hover:shadow-none relative flex flex-col mx-auto shadow-lg m-5">
    <%= image_tag('stairs_to_heaven', class: 'max-h-20 w-full opacity-80 absolute top-0', style: 'z-index:-1') %>
    <div class="profile w-full flex m-3 ml-4 text-white">
      <%= image_tag('anon_4ng3l', class: 'w-28 h-38 p-1 bg-white rounded-full') %>
      <div class="title mt-11 ml-3 font-bold flex flex-col">
        <div class="name break-words">4ng3l</div>
        <!--  add [dark] class for bright background -->
        <div class="add font-semibold text-sm italic dark">Marekting Director</div>
      </div>
    </div>
    <div class="buttons flex absolute bottom-0 font-bold right-0 text-xs text-gray-500 space-x-0 my-3.5 mr-3">
      <div class="add border rounded-l-2xl rounded-r-sm border-gray-300 p-1 px-4 cursor-pointer hover:bg-gray-700 hover:text-white" onclick="AngelClick()">About</div>
    </div>
    <div id="4ng3lDIV" style="display: none">
      About 4ng3l!
    </div>
  </div>
  <!-- card end -->


  <div class="card border w-96 hover:shadow-none relative flex flex-col mx-auto shadow-lg m-5">
    <%= image_tag('sys_fail', class: 'max-h-20 w-full opacity-80 absolute top-0', style: 'z-index:-1') %>
    <div class="profile w-full flex m-3 ml-4 text-white">
      <%= image_tag('gh0s7', class: 'w-28 h-28 p-1 bg-white rounded-full') %>
      <div class="title mt-11 ml-3 font-bold flex flex-col">
        <div class="name break-words">Gh0s7</div>
        <!--  add [dark] class for bright background -->
        <div class="add font-semibold text-sm italic dark">Coder | Server Admin | Hacker</div><br/>
      </div>
    </div>
    <div class="buttons flex absolute bottom-0 font-bold right-0 text-xs text-gray-500 space-x-0 my-3.5 mr-3">
      <div class="add border rounded-l-2xl rounded-r-sm border-gray-300 p-1 px-4 cursor-pointer hover:bg-gray-700 hover:text-white" onclick="GhostClick()">About</div>
      <!-- <div class="add border rounded-r-2xl rounded-l-sm border-gray-300 p-1 px-4 cursor-pointer hover:bg-gray-700 hover:text-white">Bio</div> -->
    </div>
    <div id="Gh0s7DIV" style="display: none">
      About Gh0s7!
    </div>
  </div>
  <!-- card end -->


  <div class="card border w-96 hover:shadow-none relative flex flex-col mx-auto shadow-lg m-5">
    <%= image_tag('ghost_wlp', class: 'max-h-20 w-full opacity-80 absolute top-0', style: 'z-index:-1') %>
    <div class="profile w-full flex m-3 ml-4 text-white">
      <%= image_tag('cryp70', class: 'w-28 h-28 p-1 bg-white rounded-full') %>
      <div class="title mt-11 ml-3 font-bold flex flex-col">
        <div class="name break-words">Cryp70</div>
        <!--  add [dark] class for bright background -->
        <div class="add font-semibold text-sm italic dark">Coder | Server Admin | Hacker</div><br/>
        <br/>
      </div>
    </div>
    <div class="buttons flex absolute bottom-0 font-bold right-0 text-xs text-gray-500 space-x-0 my-3.5 mr-3"><br/>
      <div class="add border rounded-l-2xl rounded-r-sm border-gray-300 p-1 px-4 cursor-pointer hover:bg-gray-700 hover:text-white" onclick="CryptoClick()">About</div>
      <!-- <div class="add border rounded-r-2xl rounded-l-sm border-gray-300 p-1 px-4 cursor-pointer hover:bg-gray-700 hover:text-white">Bio</div> -->
    </div>
    <div id="Cryp70DIV" style="display: none">
      About Cryp70!
    </div>
  </div>
  <!-- card end -->
</div>

<!-- Start Hide/Show About Div Elements JS -->
<script type="text/javascript">
  function AngelClick()
  {
    var a = document.getElementById("4ng3lDIV");
    if (a.style.display === "none")
    {
      a.style.display = "block";
    }
    else
    {
      a.style.display = "none";
    }
  }
  function GhostClick()
  {
    var g = document.getElementById("Gh0s7DIV");
    if (g.style.display === "none")
    {
      g.style.display = "block";
    }
    else
    {
      g.style.display = "none";
    }
  }
  function CryptoClick()
  {
    var c = document.getElementById("Cryp70DIV");
    if (c.style.display === "none")
    {
      c.style.display = "block";
    }
    else
    {
      c.style.display = "none";
    }
  }
</script>
<!-- End Hide/Show About Div Elements JS -->
