<% provide(:title, @user.biz) %>

<div class="w-full relative mt-4 shadow-2xl rounded my-24 overflow-hidden">
  <div class="top h-64 w-full bg-blue-600 overflow-hidden relative" >
    <img src="https://i.gifer.com/NvL.gif" alt="" class="bg w-full h-full object-cover object-center absolute z-0">
    <div class="flex flex-col justify-center items-center relative h-full bg-black bg-opacity-50 text-white">
      <img src="https://cdn.hipwallpaper.com/i/75/6/1NStk9.jpg" class="h-24 w-24 object-cover rounded-full">
      <h1 class="text-2xl font-semibold nme_hdr"><%= @user.name %></h1>
      <h4 class="text-sm font-semibold dte_hdr"><%= @user.date_started %></h4>
    </div>
  </div>
  <div class="grid grid-cols-12 bg-white ">

    <div class="col-span-12 w-full px-3 py-6 justify-center flex space-x-4 border-b border-solid md:space-x-0 md:space-y-4 md:flex-col md:col-span-2 md:justify-start ">

      <a class="text-sm p-2 bg-indigo-200 text-center rounded font-semibold hover:bg-indigo-700 hover:text-gray-200" onclick="ProfileClick()">Your Information</a>

      <a class="text-sm p-2 bg-indigo-200 text-center rounded font-semibold hover:bg-indigo-700 hover:text-gray-200" onclick="BusinessClick()">Business Information</a>

      <a class="text-sm p-2 bg-indigo-200 text-center rounded font-semibold hover:bg-indigo-700 hover:text-gray-200" onclick="FinancialClick()">Financial Information</a>

      <a class="text-sm p-2 bg-indigo-200 text-center rounded font-semibold hover:bg-indigo-700 hover:text-gray-200" onclick="ChaosW3bClick()">ChaosW3b</a>

      <% if current_user.admin? %>
        <%= link_to 'New User', signup_path, class: 'text-sm p-2 bg-indigo-200 text-center rounded font-semibold hover:bg-indigo-700 hover:text-gray-200' %>
      <% end %>
    </div>

    <div class="col-span-12 md:border-solid md:border-l md:border-black md:border-opacity-25 h-full pb-12 md:col-span-10" id="ProfileDIV" style="display: block">
      <div class="px-4 pt-4">

          <div>
            <h3 class="text-2xl font-semibold ttle_hdr">Your Information</h3>
            <hr>
          </div>

          <div class="form-item">
            <label class="text-xl intel_hdr">Your Name:</label>
            <label class="text-xl intel_txt"><%= @user.name %></label>
          </div>

          <div class="flex flex-col space-y-4 md:space-y-0 md:flex-row md:space-x-4">

            <div class="form-item w-full">
              <label class="text-xl intel_hdr">Address:</label>
              <label class="text-xl intel_txt"><%= @user.adr %></label>
            </div>

            <div class="form-item w-full">
              <label class="text-xl intel_hdr">City:</label>
              <label class="text-xl intel_txt"><%= @user.cty %></label>
            </div>
          </div>

          <div class="flex flex-col space-y-4 md:space-y-0 md:flex-row md:space-x-4">

            <div class="form-item w-full">
              <label class="text-xl intel_hdr">State:</label>
              <label class="text-xl intel_txt"><%= @user.ste %></label>
            </div>

            <div class="form-item w-full">
              <label class="text-xl intel_hdr">Zip:</label>
              <label class="text-xl intel_txt"><%= @user.zip %></label>
            </div>
          </div>

          <div>
            <h3 class="text-2xl font-semibold ttle_hdr">Documents:</h3>
            <hr>
          </div>

          <%= render 'users/Documents/docs' %>

          <div>
            <h3 class="text-2xl font-semibold ttle_hdr">Website Progress:</h3>
            <hr>
          </div>

          <div class="form-item w-full">

            <%= render 'users/Timeline/timeline' %>
          </div>

      </div>
    </div>

    <div class="col-span-12 md:border-solid md:border-l md:border-black md:border-opacity-25 h-full pb-12 md:col-span-10" id="BusinessDIV" style="display: none">

      <div class="px-4 pt-4">

          <div>
            <h3 class="text-2xl font-semibold">Business Information</h3>
            <hr>
          </div>

          <div class="form-item">
            <label class="text-xl intel_hdr">Business Name:</label>
            <label class="text-xl intel_txt"><%= @user.biz %></label>
          </div>

          <div class="flex flex-col space-y-4 md:space-y-0 md:flex-row md:space-x-4">

            <div class="form-item w-full">
              <label class="text-xl intel_hdr">Website Services:</label>
              <label class="text-xl intel_txt"><%= @user.web_type %></label>
            </div>

            <div class="form-item w-full">
              <label class="text-xl intel_hdr">Hosting Services:</label>
              <label class="text-xl intel_txt"><%= @user.hosting_type %></label>
            </div>
          </div>

          <div class="flex flex-col space-y-4 md:space-y-0 md:flex-row md:space-x-4">

            <div class="form-item w-full">
              <label class="text-xl intel_hdr">Security Services:</label>
              <label class="text-xl intel_txt"><%= @user.security_type %></label>
            </div>

            <div class="form-item w-full">
              <label class="text-xl intel_hdr">SEO Services:</label>
              <label class="text-xl intel_txt"><%= @user.seo_type %></label>
            </div>
          </div>

          <div class="flex flex-col space-y-4 md:space-y-0 md:flex-row md:space-x-4">

            <div class="form-item w-full">
              <label class="text-xl intel_hdr">Domain Name:</label>
              <label class="text-xl intel_txt"><%= @user.domain_name %></label>
            </div>

            <div class="form-item w-full">
              <label class="text-xl intel_hdr">IP Address:</label>
              <label class="text-xl intel_txt"><%= @user.ip_adr %></label>
            </div>
          </div>

      </div>


    </div>

    <div class="col-span-12 md:border-solid md:border-l md:border-black md:border-opacity-25 h-full pb-12 md:col-span-10" id="FinancialDIV" style="display: none">
      <div class="px-4 pt-4">

          <div>
            <h3 class="text-2xl font-semibold">Financial Information</h3>
            <hr>
          </div>

          <div class="flex flex-col space-y-4 md:space-y-0 md:flex-row md:space-x-4">

            <div class="form-item w-full">
              <label class="text-xl intel_hdr">Order Total:</label>
              <label class="text-xl intel_txt"><%= @user.order_total %></label>
            </div>

            <div class="form-item w-full">
              <label class="text-xl intel_hdr">Ongoing Fees:</label>
              <label class="text-xl intel_txt"><%= @user.ongoing_total %></label>
            </div>
          </div>

          <div class="flex flex-col space-y-4 md:space-y-0 md:flex-row md:space-x-4">

            <div class="form-item w-full">
              <label class="text-xl intel_hdr">Order Date:</label>
              <label class="text-xl intel_txt"><%= @user.date_started %></label>
            </div>

            <div class="form-item w-full">
              <label class="text-xl intel_hdr">Website Completed Date:</label>
              <label class="text-xl intel_txt"><%= @user.date_completed %></label>
            </div>
          </div>


          <div class="flex flex-col space-y-4 md:space-y-0 md:flex-row md:space-x-4">
              <div class="form-item w-full">
                <label class="text-xl intel_hdr">Due Date:</label>
                <label class="text-xl intel_txt"><%= @user.due_date %></label>
              </div>
              <div class="form-item w-full">
                <label class="text-xl intel_hdr">Pay Now:</label>
                <%= render 'users/Payment/paypal' %>

              </div>
          </div>
    </div>
  </div>

  <div class="col-span-12 md:border-solid md:border-l md:border-black md:border-opacity-25 h-full pb-12 md:col-span-10" id="ChaosW3bDIV" style="display: none">
    <div class="px-4 pt-4">

        <div>
          <h3 class="text-2xl font-semibold">ChaosW3b Calendar:</h3>
          <hr><br/>
          <iframe src="https://calendar.google.com/calendar/embed?src=chaosw3b%40gmail.com&ctz=America%2FChicago" style="border: 0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
        </div>

        <div>
          <h3 class="text-2xl font-semibold">ChaosW3b Messages:</h3>
          <hr>
          <%= render 'users/Messages/user_message' %>
        </div>
    </div>
  </div>
</div>


<script>
  function ProfileClick()
  {
    var p = document.getElementById("ProfileDIV");
    if (p.style.display === "none")
    {
      p.style.display = "block";
      document.getElementById("BusinessDIV").style.display = "none";
      document.getElementById("FinancialDIV").style.display = "none";
      document.getElementById("ChaosW3bDIV").style.display = "none";
    }
    else
    {
      p.style.display = "none";
    }
  }

  function BusinessClick()
  {
    var b = document.getElementById("BusinessDIV");
    if (b.style.display === "none")
    {
      b.style.display = "block";
      document.getElementById("ProfileDIV").style.display = "none";
      document.getElementById("FinancialDIV").style.display = "none";
      document.getElementById("ChaosW3bDIV").style.display = "none";
    }
    else
    {
      b.style.display = "none";
    }
  }

  function FinancialClick()
  {
    var f = document.getElementById("FinancialDIV");
    if (f.style.display === "none")
    {
      f.style.display = "block";
      document.getElementById("BusinessDIV").style.display = "none";
      document.getElementById("ProfileDIV").style.display = "none";
      document.getElementById("ChaosW3bDIV").style.display = "none";
    }
    else
    {
      f.style.display = "none";
    }
  }

  function ChaosW3bClick()
  {
    var c = document.getElementById("ChaosW3bDIV");
    if (c.style.display === "none")
    {
      c.style.display = "block";
      document.getElementById("BusinessDIV").style.display = "none";
      document.getElementById("ProfileDIV").style.display = "none";
      document.getElementById("FinancialDIV").style.display = "none";
    }
    else
    {
      c.style.display = "none";
    }
  }
</script>
